<!DOCTYPE html>

<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="{{ STATIC_URL }}main/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}main/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}main/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}main/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="{{ STATIC_URL }}main/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}main/js/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    {% block contents %}
    {% endblock %}
    <footer id="pagefooter">
        <div id="credits">
            <a href="http://www.droidware.it">Droidware</a>  | <a href="/admin">Amministra</a>
        </div>
    </footer>
</div>
<script src="{{ STATIC_URL }}main/js/jquery-latest.min.js"></script>
<script src="{{ STATIC_URL }}main/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

